
<%layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
        <br><br><br>
    <h2>Edit Listing</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div>
            <label for="title" class="form-lable">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
            <div class="invalid-feedback">
                Title should be valid
              </div>
        </div>
        <div>
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Description should be valid
              </div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img style="height: 200px;" src="<%=  previewImageUrl %>" />
        </div>
        <div>
            <label for="image" class="form-lable">Upload New Image</label>
            <input name="listing[image]" type ="file"  class="form-control" />
        </div>
        <div class="row ">
            <div class="md-3 col-md-4">
                <div>
                    <label for="price" class="form-lable">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                    <div class="invalid-feedback">
                        Price should be valid
                      </div>
                </div>
            </div>
            <div class="md-3 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text"class="form-control" required/>
                <div class="invalid-feedback">
                    Country should be valid
                  </div>
            </div>
        </div>
        <div>
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text"class="form-control" required/><br>
            <div class="invalid-feedback">
                Location should be valid
              </div>
        </div>
    <br>
    <button class="btn btn-danger" type="submit" href="/listings/show">Edit</button>
    </form>
</div>