<%layout("/layouts/boilerplate")%>

<div class="row">
<div class="col-9 offset-2">
    <div class="card col-7  offset-2"><br>
        <h2 class="showTitle"><%=listing.title%></h2><br>
        <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="listing_image">
    </div>
    <div class="col-8 offset-2 mb-3">
       <p class="card-text"> Owned by &nbsp; <i style="color: #fe424d;"><b><%=listing.owner.username %></b></i><br></p>
        <p class="card-text">  <%=listing.description%><br> </p>
        <p class="card-text" > <b >&#8377; <%=listing.price.toLocaleString("en-IN")%></b>/night<br></p>
        <p class="card-text"> <%=listing.location%><br></p>
        <p class="card-text"> <%=listing.country%><br></p>
    </div> <br>
    <% if(currUser && !currUser._id.equals (listing.owner._id)){%>
        <div class="btns offset-5">
            <form method="POST" action="/listings/<%=listing._id%>">
            <button type="button" class="btn btn-danger">Book Now</button>
            </form> <br>
         
        </div>
        <%}%>
    <% if(currUser && currUser._id.equals (listing.owner._id)){%>
    <div class="btns">
        <a type="button" class="btn btn-dark btn-show col-1 offset-2" href="/listings/<%= listing._id %>/edit">Edit</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button type="submit" class=" btn btn-danger btn-show offset-3 ">Delete</button>
        </form> <br>
     
    </div>
 
    <%}%>

        <% if(currUser) {%>
     <div class="col-8 offset-2 mb-3">
        <hr>
            <h4>Leave a Review</h4>
            <form 
                action="/listings/<%=listing._id%>/reviews" 
                method="POST"
                novalidate
                class="needs-validation">
                <!-- <div class="mb-3 mt-3">
                    <label for="rating" class="from-lable">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]"/>
                </div> <br> -->
                <div class="mb-3 mt-3">
                    <label for="rating" class="from-lable"></label>
                    <fieldset class="starability-slot">
                    <!-- <legend>First rating:</legend> -->
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment">Comments</label>
                    <br><br>
                    <textarea 
                    style="background-color: rgba(234, 234, 234, 0.941);"
                    name="review[comment]"
                    id="comment"
                    cols="70"
                    rows="5" 
                    class="form-control"
                    required
                    ></textarea> 
                    <div class="invalid-feedback">Please add some comments for review</div><br>
                    <button  type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
        <%}%>
        <hr>
        <div class="col-8 offset-2 mb-3">
            <p><b>All Review</b></p>
            <div class="row">
                <% for(review of listing.reviews){%>
                <div class=" card review_card col-5 ms-3 mb-3" >
                    <div class="card-body">
                        <h5 class="card-title"><%= review.author.username %></h5>
                        <p id="rating"class="starability-result card-text" data-rating="<%= review.rating%>">
                        </p>
                        <p class="card-text"><%= review.comment%></p>
                    </div> <br>
                <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-sm btn-dark">
                        Delete
                    </button>
                </form> 
                </div>
                <%}%>
        </div>
</div>
</div>